body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #d4b272;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    height: 60px;
}

.nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
}

.nav-right li {
    margin: 10px;
    padding-left: 1%;
    padding-right: 3%;
    justify-content: flex-end;
}

.nav-right li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-right li a:hover {
    color: #ffffff;
}

.nav-right li a:active {
    color: #777;
}

#register {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/Food2.jpg') no-repeat center center/cover;
    color: #ffffff;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 80px;  /* Add padding to prevent overlap with header */
    padding-bottom: 80px;  /* Add padding to prevent overlap with footer */
}

.form-container {
    position: relative;
    background: rgba(255, 244, 208, 0.534);
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
.gender-options {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder {
    color: #999;
}

.gender-options label {
    display: inline-block;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #d4b272;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.1s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #b2925a;
}

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    /* padding: 20px; */
    flex-shrink: 0;
    width: 100%;
}

footer p {
    margin: 30px;
    font-size: 14px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .logo img {
        height: 40px;
    }

    .nav-right {
        font-size: 10px;
    }

    header {
        padding: 5px 1px;
    }

    section {
        padding: 10px 20px;
    }

    #register {
        padding: 80px 20px;  /* Adjusted padding to include top and bottom */
    }

    .form-container {
        width: 90%;
    }

    .form-container h2 {
        font-size: 20px;
    }
}
